#
# Example Salt pillar for antelope
#

#
# default: Antelope param defaults
#   (this is used by salt states, change to override)
#
#   install : location of install (/opt/antelope)
#   version : version number (5.3)
#   license : salt location of lic file [template] (salt://antelope/files/license.pf)
#   source : source directory for an install (/tmp/mnt/antelope)
#
# license_pf['keys']: dict of version numbers with lists of keys
#   (this is used by the license template file)
#   [in anteloe/files/license.pf]
#
antelope:
    lookup:
        install: '/opt/antelope'
        files: 'salt://antelope/files'
        source: '/mnt'
        version: '5.3'

# Or can include from another pillar file/folder:
# If license_pf is in antelope/pf/license.sls, then instead,
#include:
#   - antelope.pf.license
#   - antelope.pf.site
#

# Used by the template file "antelope/files/license.pf"
license_pf:
    keys:
        '5.3':
            - 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 2100 Jan 01 # subnet X.X.X.X Antelope 5.3'
        '5.2-64':
            {% if 'myhost01' in grains['host'] %}
            - 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 2100 Jan 01 # node myhost01.local Antelope 5.2'
            {% elif 'myhost02' in grains['host'] %}
            - 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 2100 Jan 01 # node myhost02 Antelope 5.2'
            {% endif %}

# Used by the template file "antelope/files/site.pf"
site_pf:
    mailhost: 'mail'
    mail_domain: 'local'
    default_seed_network: 'XX'
    originating_organization: 'My Organization LLC'
    institution: 'Here'

