#
# jinja map for antelope salt state
#

# Should be the same defaults no matter the os
# change key to 'default' after v2014.1.0 match arch for now
#
# Can override from pillar for individual installs ('lookup').
{% set antelope = salt['grains.filter_by']({
    'x86_64' : {
        'install' : '/opt/antelope',
        'version' : '5.4',
        'files': 'salt://antelope/files',
        'source' : '/mnt',
    },
}, grain='cpuarch', merge=salt['pillar.get']('antelope:lookup')) %}

# Dependencies
# TODO: expand this
#  - Future versions of salt will allow yum groupinstalls
#  - add yum groups 'Base', 'Development Tools' and 'X Window System'
#
#
# CHANGELOG: Remove 'xfs' (font server) pkg/srv in Ubuntu 14+
#
{% set depends = salt['grains.filter_by']({
    'Debian' : {
        'installer' : ['libjpeg62', 'libxft2'],
        'programs' : ['xfstt', 't1-xfree86-nonfree',
                     'ttf-xfree86-nonfree', 'ttf-xfree86-nonfree-syriac',
                     'xfonts-75dpi', 'xfonts-100dpi'],
        'services': ['xfstt'],
        'groups' : [],
        },
    'RedHat' : {
        'installer' : ['libjpeg', 'libxft'],
        'programs' : ['hal'],
        'services': ['haldaemon'],
        'groups' : ['Base', 'Development tools', 'X Window System'],
        },
}) %}

#
# Default values for pf files (for use with templates)
#
{% set pf_defaults = salt['pillar.get']('pf_defaults', {
    'orbserver.pf': {
        'valid_ip_addresses': ['127.0.0.1 255.255.255.255'],
        'reject_ip_addresses': [],
        'minimum_packet_size': 300,
        'maximum_packet_size': 8192,
        'ringsize': '1G',
        'initial_stash_size': '10M',
        'prefix': 'orb/',
        'maximum_srcid': 10000,
        'concurrency': 5,
        'time_index_spacing': 1,
        'minimum_time_index_range': 3600,
        'maximum_time_index_range': 36000,
        'statistics_interval': '',
        'statistics_file': 'logs/orb_statistics',
        'log_packets': ['#127.0.0.1'],
        'reject_message': "You don't have permission to access this orbserver.\nContact someone@somedomain to gain access.",
        'dynamic_controls': {
            'percentage': '@range=(0:1) constant used in decaying average for quantities calculated in performance thread',
            'maxlag': '@range=(0:1) maximum lag value for all reaping clients',
            'delay': 'delay number (seconds) when lag is too high',
            'stalled': '@range=(0:20) number of clients which appears stalled (not currently used)',
            'nreap': '@range=(0:20) number of reaping clients',
            'catchup_rate': '@range=(0:5) target ratio of reaping client packet rate to input packet rate for lagging client',
            'performance_calculation_period': '@range=(0:30) how often statistics are calculated',
            'throttle': 'turn on/off throttling to slow writers and prevent readers from falling behind',
            'verbose_connections': 'show orbserver connections more verbosely',
        },
        'pf_revision_time': 1398783901,
    },
    'orb2orb.pf': {
        'too_new': '# 86000',
        'too_old': '# 31536000',
        'discards': '',
        'check_unstuff': 0,
        'test_freq': 0.05,
        'wait_seconds': 30,
        'lag_trigger': 0.5,
        'lag_reset': 0.4,
        'wait_match': '',
        'wait_reject': '',
        'pf_revision_time':1398783900,
    },
    'site.pf': {
        'mailhost': '',
        'mail_domain': '',
        'default_seed_network': 'XX',
        'originating_organization': '',
        'Insitution': '',
        'pf_revision_time': 1398783861,
    },
    'rtexec.pf': {
        'Processes': [
            'orbserver       orbserver -p $ORB orbserver',
            'q3302orb    q3302orb -S state/q3302orb -v -calib_db $DB $TARGET $ORBTAG $ORB',
            'orb2orb         orb2orb -S state/orb2orb remote $ORB    # copying from a remote orbserver',
            'dbidserver      dbids idserver/dbids',
            'cdorb2db        cdorb2db -S state/cdorb2db $ORB $DB',
            'orb2dbt         orb2dbt -state state/orb2dbt -overwrite $ORB $DB', 
            'orb2logs        orb2logs -m ".*log.*" -S state/orb2logs $ORB rtlogs/logs',
            'orbdetect       orbdetect -out $ORB $ORB $DB',
            'orbassoc        orbassoc -select /db/detection $ORB $ORB ttgrids/ttgrid',
            'magnitudes      orbevproc -state state/orbevproc $ORB $ORB $DB',
            'dborigin2orb    dborigin2orb /path/to/external_bulletin $ORB',
            'tcpmonitor      tcpmonitor -m -B 500 -N 10 -P 10 -d tcp remote  # monitor a tcp connection',
            'tcpserver       tcpmonitor      # to allow others to monitor a tcp connection',
        ],
        'Run': {
            'orbserver': 'yes',
            'q3302orb': 'no',  
            'orb2orb': 'yes',
            'dbidserver': 'yes',
            'cdorb2db': 'yes',
            'orb2dbt': 'yes',
            'orb2logs': 'no',  
            'orbdetect': 'yes',
            'orbassoc': 'yes',
            'magnitudes': 'yes', 
            'dborigin2orb': 'no', 
            'tcpmonitor': 'no',  
            'tcpserver': 'no',
        },
        'Pf_restart': [
            'orbdetect',
            'orbassoc',
            'magnitudes',
            'orbevproc',
        ],
        'Defines': {
            'ANTELOPE': '/opt/antelope/5.4',
            'ORB': ':',
            'DB': 'db/db',
        },
        'Env': {
            'ANTELOPE': '$ANTELOPE',
            'PATH': './bin:$ANTELOPE/bin:/opt/antelope/python2.7.6/bin:/usr/local/bin:/bin:/usr/bin:/usr/sbin:/usr/proc/bin:/usr/openwin/bin:/usr/X11R6/bin:/usr/X11/bin:.',
            'PFPATH': '$ANTELOPE/data/pf:./pf:.',
            'HOME': 'PRESERVE',
            'TZ': 'PRESERVE',
            'PWD': 'PRESERVE',
            'LOGNAME': 'PRESERVE',
            'TERM': 'PRESERVE || xterm',
            'DISPLAY': 'PRESERVE || :0',
            'SCHEMA_DEFAULT': 'css3.0',
            'SHELL': 'PRESERVE',
            'XAUTHORITY': 'PRESERVE',
            'XAUTHLOCALHOSTNAME':  'PRESERVE',
            'LANG': 'PRESERVE',
            'XKEYSYMDB': 'PRESERVE',
            'XDG_SESSION_COOKIE': 'PRESERVE',
            'XNLSPATH': 'PRESERVE',
            'XSESSION_IS_UP': 'PRESERVE',
            'XDG_CONFIG_DIRS': 'PRESERVE',
            'XMODIFIERS': 'PRESERVE',
            'XCURSOR_THEME': 'PRESERVE',
            'XDG_DATA_DIRS': 'PRESERVE',
        },
        'Start_period': 10,
        'Minimum_period_between_starts': 10,
        'Failure_threshold': 300,
        'Failure_repetitions': 5,
        'Failure_retry_period': 3600,
        'Shutdown_order': [
            'cdorb2db orb2db orb2dbt orbdetect orbassoc magnitudes dborigin2orb orb2logs orb2disk orb2wf',
            'dbidserver orb2orb qt2orb q3302orb dlcollector',
            'tcpserver tcpmonitor',
            'diskserver',
            'orbserver',
        ],
        'Shutdown_when_task_dies': {},
        'startup_shutdown_email': '',
        'status_email': '',
        'Startup_tasks': [],
        'Shutdown_tasks': [],
        'max_cron_gap': 3600,
        'crontab': {
            'patches': 'LOCAL   4   3  *    *       0      antelope_update -m $LOGNAME',
        },
        'Time_to_die': 30,
        'Limit': {
            'cputime': "unlimited",
            'filesize': "unlimited",
            'descriptors': "unlimited       # large for cdorb2db",
            'stacksize': "8388608         # unlimited is too big: can't have larger orbs",
            'datasize': "unlimited",
            'coredumpsize': "unlimited       # so that we may get a core dump",
            'vmemoryuse': "unlimited",
            'maxproc': "unlimited   # Linux only",
        },
        'umask': '002',
        'Database': 'rtsys/rtsys',
        'email_incident_reports': 'incident@brtt.com',
        'include_corefile': 'no',
        'Chatter_limit': 7200,
        'Maximum_memory_in_use': 1.05,
        'disks': [
            'root      /     20   1  root partition: required by many unix tasks',
            'waveforms db    3000  1   waveform files',
            'tmp       /tmp  20   1  tmp = swap: indicates memory usage',
            'logs      .     20   1  log files',
        ],
        'Buttons': [
            "processes   xterm -geometry 80x25 -e top #  /usr/dt/bin/sdtprocess  # (when top is not available)",
            "ORB_Clients xterm -geometry 132x25 -e orbstat -c $ORB 30",
            "ORB_Sources xterm -geometry 132x60 -e orbstat -s $ORB 30",
            "ORB_Data    warp orbmonrtd $ORB -reject '.*/log|.*/pf/.*'",
            "ORB_Latency tkorblag $ORB",
            "DB_data     warp trdisp $DB",
            "Quanterra   dlmon -state Single $ORB",
            "Event_Map   warp dbevents $DB",
            "Grid_Map    displayttgrid ttgrids/ttgrid local",
        ],
        'Edit_files': [
            'pf/orbmonrtd.pf',
            'pf/rtbackup.pf',
            'pf/rtdbclean.pf',
            'pf/elog.pf',
        ],
        'Parameter_files': {
            'aprogram': 'different.pf',
        },
        'orbtasks': [
            'cdorb2db',
            'orb2disk',
            'pktmon',
            'orb2db',
            'orb2dbt',
            'orbdetect',
            'orbassoc',
            'magnitudes',
            'orb2orb',
        ],
        'title': '',
        'network_code': '',
        'pf_revision_time': 1367515518,
    },
}, merge=True) %}
